<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project page</title>
</head>
<body>
    <div id="header">
        <a href="/profile_page">Profile</a>|
        <a href="">Depot</a>|
        <a href="/logout">Logout</a>
    </div>
    <div id="show_projects">
        <table>
            ((SHOW ALL OF THE USERS PROJECTS HERE))
        </table>
    </div>
    <div id="create_project" >
        <form action="/create_project" method="POST">
            <label for="project_name">Projects Name:</label>
            <input type="text" name="project_name">

            <textarea name="description" id="" cols="30" rows="10" placeholder="breif description of the project here"></textarea>

            <input type="submit" name="submit" id="">
        </form>
    </div>
</body>
</html>