<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Depot</title>
</head>
<body>
    <div id="header">
        <a href="/user_page">User Page</a>|
        <a href="/create_project">Create Project</a>
        <a href="/logout">Logout</a>
    </div>
    <div id="searchBOX">
        <h1>THE DEPOT</h1>
        <div id="search">
            <form action="search">
                <select name="" id="">
                    <option value="1">Number of downloads</option>
                    <option value="2">Most Recent</option>
                </select>
                    
                <input type="search" name="searchbar" placeholder="Search for specific projects or users">
                <input type="submit" name="submit" id="">
            </form>
        </div>
        <div id="depotContent">
            ((DISPLAY ALL SEARCH RELATED CONTENT HERE IN A TABLE))
        </div>
    </div>
</body>
</html>