<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Depot</title>
</head>
<body>
    <div id="header">
        <a href="/profile_page">User Page</a> |
        <a href="/create_project">Create Project</a> |
        <a href="/logout">Logout</a>
    </div>
    <div id="searchBOX">
        <h1>THE DEPOT</h1>
        <p>Welcome {{user.username}}</p>
        <div id="search">
            <form action="search">
                <select name="" id="">
                    <option value="1">Most Recent</option>
                    <option value="2">Number Of Downloads</option>
                </select>
                    
                <input type="search" name="searchbar" placeholder="Search for specific projects or users">
                <input type="submit" name="submit" id="">
            </form>
        </div>
        <div id="depotContent">
            <table>
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>User Name</th>
                        <th>Description</th>
                        <th>Upload Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        {% if project.project_name != None %}
                        <tr>
                            <td>{{ project.project_name }}</a></td>
                            <td>{{ project.username}}</td>
                            <td>{{ project.description }}</td>
                            <td>{{ project.created_at.strftime('%m/%d/%Y') }}</td>
                            <td><a href="/view_project">View</a>|
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>