<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/home_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3d depot</title>
</head>
<body>
    <div class="context">
        <h2>Share your 3d models with the world</h2>
        <h1>3D DEPOT</h1>
        <a href="/login">login</a>
        <a href="/register">register</a>
    </div>
    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>