<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view Project</title>
</head>
<body>
    <div id="header">
        <h3>Welcome {{user.username}}</h3>
        <a href="/profile">Profile</a>
        <a href="/depot">Depot</a>
        <a href="/logout">Logout</a>
    </div>
    <table>
        <th>Part Name</th>
        <th>Part description</th>
        <th>actions</th>
        {% for part in parts %}
        <tr>
            <td>{{ part.part_name }}</td>
            <td>{{ part.part }}</td>
            <td><a href="/delete_part/{{part.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>