* {
    margin: 0;
    padding: 0;
}

#container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 50px;
}
#profile_info{
    display: flex;
    justify-content: flex-start;
    margin-right: 150px;
    
}

.profilepic {
    height: 75px;
    border-radius: 15px;
}